.total-items{
    width: 708px;
    height: 122px;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px -4px 12px rgba(23, 40, 83, 0.04);
    margin-bottom: 34px;
}

.items{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.items-question{
    width: 31px;
    height: 31px;
    background: #EDEFF6;
    border-radius: 8px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.question{
    background: url(./qua.png);
    width: 9px;
    height: 15px;
}

.items-remove{
    width: 31px;
    height: 31px;
    background: #EDEFF6;
    border-radius: 0px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.remove{
    background: url(./remove.png);
    width: 15px;
    height: 15px;
}

.items-img{
    width: 75.15px;
    height: 100%;
    background: chartreuse;
}

.item-other{
    margin: auto 0;
}

.item-delivery{
    display: flex;
    align-items: center;
}

.item{
    margin: 0 0 13px 0;
}

.delivery{
    color: #B0B3BC;
    font-size: 14px;
    margin: 0;
}

.plus-minus{
    display: flex;
    align-items: center;
    margin: 0 60px 0 45px;
}

.plus-minus p{
    margin: 0 16px;
}

.minus{
    background: url(./minus.png);
    width: 31px;
    height: 31px;
    cursor: pointer;
}

.plus{
    background: url(./plus.png);
    width: 31px;
    height: 31px;
    cursor: pointer;
}

.item-price{
    margin: 0;
}

.total-price{
    width: 405px;
    height: 225px;
    background: #FFFFFF;
    box-shadow: 0px -4px 12px rgba(23, 40, 83, 0.04);
    display: flex;
    align-items: center;
    justify-content: center;
}

.total{
    width: 90%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.total-p{
    font-size: 20px;
    color: #172853;
    text-transform: uppercase;
    font-family: Museo700;
    /* margin-bottom: 20px; */
}

.line{
    width: 100%;
    height: 1px;
    background: #EDF2FF;
}

.number{
    font-size: 14px;
    color: #172853;
    /* margin: 25px 0; */
}

.price{
    font-size: 16px;
    color: #172853;
    font-family: Museo700;
    /* margin-bottom: 29px; */
}

.total-btn{
    width: 100%;
    outline: none;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-family: Museo500;
    padding: 16px 0;
    background: #4376FB;
    border-radius: 6px;
    cursor: pointer;
}